# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.eggs/
build/
dist/
wheels/
.venv/
venv/
env/

# Tests
.pytest_cache/
.coverage
htmlcov/
.tox/

# Editor
.idea/
.vscode/
*.swp
.DS_Store
todo.md
.superpowers/
.perspective.md
.claude/*
*/node_modules/*
.todo/_backlog.md